In [3]:
#IMPORT_LIB
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

from sklearn.metrics import r2_score as r2
from sklearn.metrics import accuracy_score
from sklearn.metrics import mean_squared_error as MSE


from sklearn.ensemble import RandomForestRegressor as RFR
from sklearn.manifold import TSNE

%config InlineBackend.figure_format = 'svg'
%matplotlib inline

In [4]:
#LOAD_DATA
data = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

In [9]:
data.head()

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Shops_2,Price
0,14038,35,2.0,47.981561,29.442751,6.0,7,9.0,1969,0.089040,B,B,33,7976,5,NaN,0,11,B,184966.930730
1,15053,41,3.0,65.683640,40.049543,8.0,7,9.0,1978,0.000070,B,B,46,10309,1,240.0,1,16,B,300009.450063
2,4765,53,2.0,44.947953,29.197612,0.0,8,12.0,1968,0.049637,B,B,34,7759,0,229.0,1,3,B,220925.908524
3,5809,58,2.0,53.352981,52.731512,9.0,8,17.0,1977,0.437885,B,B,23,5735,3,1084.0,0,5,B,175616.227217
4,10783,99,1.0,39.649192,23.776169,7.0,11,12.0,1976,0.012339,B,B,35,5776,1,2078.0,2,4,B,150226.531644

In [10]:
data.describe()

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Price
count,10000.00000,10000.000000,10000.000000,10000.000000,7887.000000,10000.000000,10000.000000,10000.000000,1.000000e+04,10000.000000,10000.000000,10000.000000,10000.000000,5202.000000,10000.000000,10000.000000,10000.000000
mean,8383.40770,50.400800,1.890500,56.315775,37.199645,6.273300,8.526700,12.609400,3.990166e+03,0.118858,24.687000,5352.157400,8.039200,1142.904460,1.319500,4.231300,214138.857399
std,4859.01902,43.587592,0.839512,21.058732,86.241209,28.560917,5.241148,6.775974,2.005003e+05,0.119025,17.532614,4006.799803,23.831875,1021.517264,1.493601,4.806341,92872.293865
min,0.00000,0.000000,0.000000,1.136859,0.370619,0.000000,1.000000,0.000000,1.910000e+03,0.000000,0.000000,168.000000,0.000000,0.000000,0.000000,0.000000,59174.778028
25%,4169.50000,20.000000,1.000000,41.774881,22.769832,1.000000,4.000000,9.000000,1.974000e+03,0.017647,6.000000,1564.000000,0.000000,350.000000,0.000000,1.000000,153872.633942
50%,8394.50000,36.000000,2.000000,52.513310,32.781260,6.000000,7.000000,13.000000,1.977000e+03,0.075424,25.000000,5285.000000,2.000000,900.000000,1.000000,3.000000,192269.644879
75%,12592.50000,75.000000,2.000000,65.900625,45.128803,9.000000,12.000000,17.000000,2.001000e+03,0.195781,36.000000,7227.000000,5.000000,1548.000000,2.000000,6.000000,249135.462171
max,16798.00000,209.000000,19.000000,641.065193,7480.592129,2014.000000,42.000000,117.000000,2.005201e+07,0.521867,74.000000,19083.000000,141.000000,4849.000000,6.000000,23.000000,633233.466570

In [13]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 20 columns):
Id               10000 non-null int64
DistrictId       10000 non-null int64
Rooms            10000 non-null float64
Square           10000 non-null float64
LifeSquare       7887 non-null float64
KitchenSquare    10000 non-null float64
Floor            10000 non-null int64
HouseFloor       10000 non-null float64
HouseYear        10000 non-null int64
Ecology_1        10000 non-null float64
Ecology_2        10000 non-null object
Ecology_3        10000 non-null object
Social_1         10000 non-null int64
Social_2         10000 non-null int64
Social_3         10000 non-null int64
Healthcare_1     5202 non-null float64
Helthcare_2      10000 non-null int64
Shops_1          10000 non-null int64
Shops_2          10000 non-null object
Price            10000 non-null float64
dtypes: float64(8), int64(9), object(3)
memory usage: 1.5+ MB

In [14]:
data.loc[data['Rooms']==0]

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Shops_2,Price
1397,12638,27,0.0,138.427694,136.215499,0.0,4,3.0,2016,0.075424,B,B,11,3097,0,NaN,0,0,B,268394.744389
1981,7917,27,0.0,212.932361,211.231125,0.0,2,3.0,2008,0.211401,B,B,9,1892,0,NaN,0,1,B,302211.260887
2269,7317,27,0.0,41.790881,NaN,0.0,13,0.0,1977,0.211401,B,B,9,1892,0,NaN,0,1,B,98129.976788
3911,770,28,0.0,49.483501,NaN,0.0,16,0.0,2015,0.118537,B,B,30,6207,1,1183.0,1,0,B,217009.338463
4366,456,6,0.0,81.491446,NaN,0.0,4,0.0,1977,0.243205,B,B,5,1564,0,540.0,0,0,B,212864.799112
4853,3224,27,0.0,2.377248,0.873147,0.0,1,0.0,1977,0.017647,B,B,2,469,0,NaN,0,0,B,126596.941798
6149,3159,88,0.0,38.697117,19.345131,9.0,9,16.0,1982,0.127376,B,B,43,8429,3,NaN,3,9,B,158998.110646
8834,9443,27,0.0,87.762616,85.125471,0.0,5,15.0,1977,0.211401,B,B,9,1892,0,NaN,0,1,B,219281.918007

In [15]:
data.loc[data['KitchenSquare']==0]

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Shops_2,Price
2,4765,53,2.0,44.947953,29.197612,0.0,8,12.0,1968,0.049637,B,B,34,7759,0,229.0,1,3,B,220925.908524
7,11993,74,2.0,80.312926,NaN,0.0,14,0.0,1977,0.075779,B,B,6,1437,3,NaN,0,2,B,221244.156664
23,6641,54,3.0,118.907612,NaN,0.0,2,0.0,1977,0.006076,B,B,30,5285,0,645.0,6,6,B,571069.052600
26,4378,27,3.0,106.958871,0.641822,0.0,17,0.0,2018,0.072158,B,B,2,629,1,NaN,0,0,A,337299.867936
39,9371,23,2.0,60.503248,NaN,0.0,16,0.0,1977,0.034656,B,B,0,168,0,NaN,0,0,B,229778.057902
42,9833,1,2.0,56.494318,54.723569,0.0,9,17.0,1977,0.007122,B,B,1,264,0,NaN,0,1,B,196078.907289
44,10521,38,3.0,104.211396,106.340403,0.0,20,0.0,2017,0.060753,B,B,15,2787,2,520.0,0,7,B,435462.048070
52,2301,1,2.0,61.400054,65.224603,0.0,17,22.0,2016,0.007122,B,B,1,264,0,NaN,0,1,B,199215.452229
65,11398,62,1.0,41.194188,NaN,0.0,6,0.0,1977,0.072158,B,B,2,629,1,NaN,0,0,A,114063.092041
70,10362,27,2.0,79.227049,NaN,0.0,9,0.0,1977,0.072158,B,B,2,629,1,NaN,0,0,A,167023.973143
71,2136,74,2.0,84.687732,81.905552,0.0,12,17.0,2017,0.075779,B,B,6,1437,3,NaN,0,2,B,243479.876105
72,14675,74,1.0,52.457589,52.423345,0.0,18,17.0,1977,0.075779,B,B,6,1437,3,NaN,0,2,B,160292.163702
161,4263,27,1.0,54.255191,51.135219,0.0,5,3.0,2017,0.072158,B,B,2,629,1,NaN,0,0,A,147040.226120
167,7023,1,2.0,71.005575,NaN,0.0,11,9.0,1977,0.007122,B,B,1,264,0,NaN,0,1,B,245130.106637
195,4645,54,2.0,76.312851,NaN,0.0,14,0.0,1977,0.006076,B,B,30,5285,0,645.0,6,6,B,466730.805333
223,4622,27,2.0,62.153994,36.094352,0.0,5,0.0,1977,0.072158,B,B,2,629,1,NaN,0,0,A,194091.992560
231,2540,6,3.0,82.353023,NaN,0.0,13,17.0,1977,0.243205,B,B,5,1564,0,540.0,0,0,B,216199.817761
234,12633,27,3.0,81.867166,81.884548,0.0,12,19.0,1977,0.211401,B,B,9,1892,0,NaN,0,1,B,182228.520030
244,13137,23,1.0,43.790432,NaN,0.0,10,17.0,1977,0.075779,B,B,6,1437,3,NaN,0,2,B,121517.604121
246,790,23,1.0,41.074417,NaN,0.0,9,17.0,1977,0.075779,B,B,6,1437,3,NaN,0,2,B,117742.435249
252,8139,27,2.0,58.553809,NaN,0.0,7,0.0,1977,0.072158,B,B,2,629,1,NaN,0,0,A,177511.314827
296,513,27,2.0,57.134181,NaN,0.0,16,19.0,1977,0.211401,B,B,9,1892,0,NaN,0,1,B,145814.838433
300,2395,1,2.0,64.699994,61.287766,0.0,4,17.0,1977,0.007122,B,B,1,264,0,NaN,0,1,B,164312.216193
320,11173,6,2.0,62.648779,NaN,0.0,6,17.0,1977,0.243205,B,B,5,1564,0,540.0,0,0,B,182625.548872
333,11210,27,2.0,68.453814,66.918934,0.0,15,17.0,1977,0.017647,B,B,2,469,0,NaN,0,0,B,199508.379820
339,11563,8,1.0,50.390862,41.642898,0.0,32,32.0,2008,0.092291,B,B,21,4346,2,165.0,1,2,B,97480.845791
341,13457,6,1.0,40.326128,NaN,0.0,16,17.0,1977,0.243205,B,B,5,1564,0,540.0,0,0,B,123044.213699
397,6781,58,1.0,53.161505,NaN,0.0,9,9.0,1977,0.437885,B,B,23,5735,3,1084.0,0,5,B,113898.478111
400,2453,52,2.0,68.111212,64.181422,0.0,4,17.0,2019,0.371149,B,B,34,7065,1,750.0,2,5,B,176037.781296
444,6224,59,3.0,106.349245,NaN,0.0,7,0.0,1977,0.019509,B,B,37,7687,11,176.0,5,5,B,504820.057913
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9534,15563,27,2.0,78.553375,NaN,0.0,7,0.0,1977,0.072158,B,B,2,629,1,NaN,0,0,A,181955.274013
9535,4880,27,2.0,66.740267,NaN,0.0,8,22.0,1977,0.211401,B,B,9,1892,0,NaN,0,1,B,144361.253296
9562,2819,52,2.0,68.935850,NaN,0.0,16,17.0,1977,0.371149,B,B,34,7065,1,750.0,2,5,B,168600.632600
9573,805,27,3.0,80.701454,NaN,0.0,12,0.0,1977,0.211401,B,B,9,1892,0,NaN,0,1,B,174758.681454
9576,7389,23,1.0,52.028804,4.295819,0.0,8,9.0,1977,0.014073,B,B,2,475,0,NaN,0,0,B,98638.755928
9578,11382,27,2.0,54.861381,NaN,0.0,2,3.0,1977,0.072158,B,B,2,629,1,NaN,0,0,A,171999.571369
9593,2553,62,2.0,56.560809,NaN,0.0,9,0.0,1977,0.072158,B,B,2,629,1,NaN,0,0,A,153997.912192
9604,7979,6,1.0,47.671275,NaN,0.0,20,25.0,1977,0.243205,B,B,5,1564,0,540.0,0,0,B,143413.341742
9606,12136,1,1.0,51.953707,NaN,0.0,2,0.0,1977,0.007122,B,B,1,264,0,NaN,0,1,B,148682.719427
9616,12557,6,2.0,66.501773,NaN,0.0,14,17.0,1977,0.243205,B,B,5,1564,0,540.0,0,0,B,184303.152266
9626,3742,1,1.0,53.258610,56.655126,0.0,6,17.0,1977,0.007122,B,B,1,264,0,NaN,0,1,B,161799.240623
9628,14936,27,3.0,103.587261,NaN,0.0,8,0.0,1977,0.072158,B,B,2,629,1,NaN,0,0,A,225901.938089
9660,11320,27,1.0,41.299844,NaN,0.0,7,17.0,1977,0.011654,B,B,4,915,0,NaN,0,0,B,112163.693968
9695,12400,23,3.0,80.789885,NaN,0.0,2,3.0,1977,0.034656,B,B,0,168,0,NaN,0,0,B,195153.874862
9696,14403,6,1.0,39.772905,NaN,0.0,13,17.0,1977,0.243205,B,B,5,1564,0,540.0,0,0,B,127276.643909
9707,12302,30,1.0,46.072913,48.307844,0.0,4,0.0,1977,0.000078,B,B,22,6398,141,1046.0,3,23,B,161403.094034
9730,8644,58,3.0,80.957312,NaN,0.0,6,17.0,1977,0.437885,B,B,23,5735,3,1084.0,0,5,B,194401.074453
9740,3241,6,1.0,42.706178,NaN,0.0,7,17.0,1977,0.243205,B,B,5,1564,0,540.0,0,0,B,123219.343537
9769,9384,59,3.0,98.607328,NaN,0.0,14,0.0,1977,0.019509,B,B,37,7687,11,176.0,5,5,B,492700.257473
9793,5766,1,3.0,80.006748,83.793062,0.0,17,17.0,1977,0.007122,B,B,1,264,0,NaN,0,1,B,235519.716480
9830,8556,58,1.0,42.488774,NaN,0.0,15,17.0,1977,0.437885,B,B,23,5735,3,1084.0,0,5,B,133135.515468
9878,11441,62,2.0,71.985335,72.453232,0.0,5,0.0,1977,0.072158,B,B,2,629,1,NaN,0,0,A,158841.624543
9908,3171,62,1.0,35.873961,NaN,0.0,25,0.0,1977,0.072158,B,B,2,629,1,NaN,0,0,A,134379.130962
9944,16160,27,2.0,60.396765,NaN,0.0,10,0.0,1977,0.072158,B,B,2,629,1,NaN,0,0,A,211810.600728
9946,4470,62,3.0,89.915337,NaN,0.0,13,15.0,1977,0.072158,B,B,2,629,1,NaN,0,0,A,191229.098911
9948,8438,1,2.0,66.736039,NaN,0.0,16,17.0,1977,0.007122,B,B,1,264,0,NaN,0,1,B,199237.847364
9953,5365,1,2.0,61.049491,NaN,0.0,11,17.0,1977,0.007122,B,B,1,264,0,NaN,0,1,B,190085.168584
9960,9307,1,2.0,57.376642,NaN,0.0,8,25.0,2016,0.007122,B,B,1,264,0,NaN,0,1,B,104450.496477
9965,6612,27,2.0,59.460685,NaN,0.0,15,19.0,1977,0.211401,B,B,9,1892,0,NaN,0,1,B,135784.320930
9987,15623,23,2.0,55.620092,NaN,0.0,2,4.0,1977,0.034656,B,B,0,168,0,NaN,0,0,B,115797.553006