In [9]:
import numpy as np
import pandas as pd
from sklearn.datasets import load_boston

In [10]:
boston = load_boston()
data = boston.data
target = boston.target
feature_names = boston.feature_names

In [12]:
X = pd.DataFrame(data, columns = feature_names)
y = pd.DataFrame(target, columns = ['Price'])
X.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [13]:
y.head()

   Price
0   24.0
1   21.6
2   34.7
3   33.4
4   36.2

In [15]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [24]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state = 42)

In [25]:
lr = LinearRegression()

In [26]:
lr.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [27]:
y_pred = lr.predict(X_test)

In [28]:
check_test = pd.DataFrame({'y_test': y_test['Price'], 'y_pred': y_pred.flatten()}, columns = ['y_test', 'y_pred'])
check_test.head()

     y_test     y_pred
173    23.6  28.655072
274    32.4  36.502090
491    13.6  15.418775
72     22.8  25.412343
452    16.1  18.845041

In [29]:
from sklearn.metrics import r2_score

In [30]:
r2_score(y_test, y_pred)

0.7109203586326303

In [37]:
#Задание№2
from sklearn.ensemble import RandomForestRegressor

In [39]:
model = RandomForestRegressor(max_depth = 12, n_estimators = 1000, random_state = 42)
model.fit(X_train, y_train.values[:, 0])

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=12,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=1000, n_jobs=1,
           oob_score=False, random_state=42, verbose=0, warm_start=False)

In [40]:
y_pred = model.predict(X_test)
r2_score(y_test, y_pred)

0.8758073546581215

In [57]:
importances = model.feature_importances_
importances

array([0.03041796, 0.00153287, 0.00705227, 0.00117158, 0.01463026,
       0.40245231, 0.01427184, 0.06457307, 0.00515197, 0.01203962,
       0.01819018, 0.01256251, 0.41595357])